
h1{
    color: #fff;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2.5px;
  word-spacing: 3px;
  margin-bottom: 20px;
  
}

p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; /* makes links slightly bold */
    letter-spacing: 1px; 
    margin-top: 10px;
    margin-bottom: 40px;
}
